html {
	background: url(../img/background.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
    width: 100%;
  	height: 100%;
  	overflow:hidden;
}

body {
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	background-color: transparent;
}

.coreBox {
	background: rgba(0,0,0,0.2);
	/*border: rgba(0,0,0,0.5);*/
	border-radius: 5px;
	padding: 10px;
	margin-top: 15%;
	color: white;
    text-align: center;
    overflow: hidden;
}

.all-actionButtons-container{
    margin-left: 5px;
    margin-right: 5px;
}
.actionButton-container{
    padding: 5px;
}

.actionButton {
    font-size: 1.5em;
    /*display: inline-block;*/
    background: rgba(255,255,255,0.9);
    color: black;
    padding: 5px;
    margin: 2.5px;
    border-radius: 5px; */
    overflow:hidden;
}

#budget:hover {
    transition: all 200ms ease;
    color: green;
}

#activity:hover {
    transition: all 200ms ease;
    color: lightblue;
}

#weather:hover {
    transition: all 200ms ease;
    color: yellow;
}

.coming-soon{
    position:absolute;
    top:0;
    right:0;
    width: 50%;
    z-index: 100;
}

/* Filtering and sorting topbar controls */
.filter-controls{
    display: none;
    background: rgba(0,0,0,0.2);
    border: rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
}

.ui-slider .ui-slider-handle {

    cursor: default;
    height: 1.2em;
    position: absolute;
    width: 1.2em;
    z-index: 2;
}

.steps-2 {
    border: 1px solid transparent; /*follows #slider2 style for sizing purposes */
    /* width: 800px; */
    position: relative; 
    height: 30px;
}

.tick { 
    border: 1px solid transparent; /*follows slide handle style for sizing purposes*/
    position: absolute;
    width: 1.2em;
    margin-left: -.6em;
    text-align:center;
    left: 0;
}

.last-tick {
    border: 1px solid transparent; /*follows slide handle style for sizing purposes*/
    position: absolute;
    width: 1.2em;
    margin-left: -.6em;
    text-align:left;
    left: 0;    
}

/* Data output containers */
/*.dataCore {
    postion: fixed;
    background: rgba(0,0,0,0.2);
    border: rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
    max-width: 970px;
    right: 0;
    left: 0;
}*/

.box{
    background: rgba(255,0,255,0.9);
}
.result-container {
    font-size: 2em;
    background: rgba(255,255,255,0.9);
    color: black;
    border: white;
    border-radius: 5px;
}

.location {
    text-align: center;
}

.sortscore {
    text-align: center;
}

.weather-container {
    text-align: center;
    padding-bottom: 5px;
}

.weather-smallday {
    border-style: solid;
    border-width: 1px;
    font-size: 12px;
    padding: 3px;
}

.airport-info{
    display: inline-block;
}

.budget-breakdown-container{
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    font-size: 12px;
    padding: 3px;
    text-align: top;    
}

.budget-breakdown{
    display: none;
}

.debug{
	background-color: white;
}
